<!DOCTYPE html>
<meta charset="utf-8">
<style>

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#color{
  position: relative;
  top: 30px;
  right: 300px;
}

#graph{
	position: relative;
	top: 30px;
	right: 200px;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}



</style>
<div style='float: right' id='color'></div>
<div style='float: right' id='graph'></div>
<div id='mean'></div>
<div id='kurtosis'></div>
<div id='central'></div>
<div id='robust'></div>
<div id='context'></div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename = 'chart.js') }}"></script>
<script src="{{ url_for('static', filename = 'graph.js') }}"></script>
<script>
var data = {{ data | tojson }};
//parse data first
var parseDate = d3.timeParse('%m/%d/%Y');
data.forEach(function(d) {
  d.date = parseDate(d.date);
});

var brush = d3.brushX().extent([[0, 0], [960, 50]]);

//build chart elements
var chart = areaChart('mean', brush, 'mean degree');
d3.select('#mean').datum(data).call(chart);

var kurtosis = areaChart('kurtosis', brush, 'kurtosis');
d3.select('#kurtosis').datum(data).call(kurtosis);

var skew = areaChart('skewness', brush, 'skewness');
d3.select('#central').datum(data).call(skew);

var robustness = areaChart('var', brush, 'variance');
d3.select('#robust').datum(data).call(robustness);

//add brush handle
var brush_handle = d3.select('#context').append('svg').attr('width', 960).attr('height', 300);

brush_handle.append('g').attr('class', 'brush').call(brush).call(brush.move, 10);
brush_handle.append("g").attr("class", "axis axis--x").call(chart.xAxis2);

brush.on('end', function() {
	chart.brushed(this);
	kurtosis.brushed(this);
	skew.brushed(this);
	robustness.brushed(this);
	
	var s = chart.end();
	update_graph(s[0], s[1]);
});

const color_choice = ['variance', 'skewness', 'connectivity', 'kurtosis'];
	
var c = d3.select('#color').append('form')
				.selectAll('label').data(color_choice)
				.enter().append('label')
				.attr('for',function(d,i){ return 'a'+i; })
				.text(function(d){return d});
				
c.append('br');
				
c.append('input').attr('type', 'radio').attr("id", function(d,i) { return 'a'+i; })
.property("checked", function(d, i) {return i===0;})
.attr('value', function(d){return d})
.attr('onClick', function(d){ d3.selectAll('input').property('checked', false); d3.select(this).property('checked', true);});

function update_graph(start, end) {
	var svg1 = d3.select('#graph');
	svg1.selectAll('svg').remove();

	d3.json('http://127.0.0.1:5000/graph?start=' + start.toDateString()+ '&end=' + end.toDateString()).then(function(data){
		var g = networkChart();
		svg1.datum(data).call(g);
	});
}

</script>